version: "3.9"

services:
  class-voice-led-webui:
    image: hub.foundries.io/${FACTORY}/class-voice-led-webui:latest
    restart: unless-stopped
    network_mode: "host"
    privileged: true
    stdin_open: true     # -i
    tty: true            # -t
    group_add:
      - "audio"
    devices:
      - "/dev/snd:/dev/snd"
      - "/dev/gpiochip0:/dev/gpiochip0"
      - "/dev/gpiochip1:/dev/gpiochip1"
      - "/dev/gpiochip2:/dev/gpiochip2"
    volumes:
      - /var/run/arduino-router.sock:/var/run/arduino-router.sock
      - /etc/localtime:/etc/localtime:ro
    environment:
      APP: "class-voice-led-webui"
      THRESH: "0.70"
      DEBOUNCE_SECONDS: "0.5"
      SELECT_COOLDOWN_SECONDS: "1.0"
      SELECT_SUPPRESS_SECONDS: "8.0"
      PA_ALSA_PLUGHW: "1"
      PA_ALSA_CARD: "1"
      PA_ALSA_DEVICE: "0"
